/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;400;600&display=swap');

*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #eefaf9;
  font-family: 'Bitter', serif;
  overflow: hidden;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
  --lightest: #eefaf9;
  --light-blue: #a8dadc;
  --med-blue: #457b9d;
  --dark-blue: #1d3557;
  --red: #e63946;
  --b-blue: #61a5c2;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #a8dadc;
  border-bottom: 1px solid #333;
  box-shadow: 0 0 1vw #333;
}

.logo {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 5.5vw;
  font-weight: 100;
}

.logo > img {
  height: 10vh;
}

.main-view {
  display: flex;
  height: 100%;
  width: 100%;
}

nav {
  height: 100%;
  width: 20vw;
  background-color: #a0b8c7;
  border-top: 1vh solid #e63946;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.trip-filter-button {
  width: 15vw;
  margin: 0.2rem;
  background-color: #1d3557;
  border: none;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  left: 20vw;
}

.top-view,
.trip-view {
  width: 100%;
  left: 20vw;
  background-color: rgba(51, 51, 51, 0.365);
  display: flex;
  justify-content: space-around;
}

.top-view {
  height: 40vh;
  box-shadow: 0 1vw 1vw -1vw #333;
}

.trip-maker,
.financials {
  width: 30vw;
  margin: 0.5rem;
  background-color: #eefaf9;
  border-top: 1vh solid #457b9d;
}

.trip-view {
  height: 50vh;
}

.trip-card {
  width: 28vw;
  background-color: #eefaf9;
  margin: 0.5rem;
  border-top: 1vh solid #1d3557;
}
