/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;400;600&display=swap');

*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #eefaf9;
  font-family: 'Bitter', serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
  --lightest: #eefaf9;
  --light-blue: #a8dadc;
  --med-blue: #457b9d;
  --dark-blue: #1d3557;
  --red: #e63946;
  --b-blue: #61a5c2;
}

button {
  cursor: pointer;
}

header {
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: #a8dadc;
  border-bottom: 1px solid #333;
  box-shadow: 0 0 1vw #333;
  z-index: 10;
}

.logo {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 5.5vw;
  font-weight: 100;
}

.logo > img {
  height: 10vh;
}

.main-view {
  display: flex;
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  top: 10vh;
  height: 100%;
  width: 20vw;
  background-color: #80a6bf;
  border-top: 1vh solid #e63946;
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.trip-filter-button {
  width: 15vw;
  margin: 0.2rem;
  background-color: #1d3557;
  border: none;
  color: #fff;
}

.financial-buttons {
  border-top: 1px solid #333;
  margin-top: 1vh;
  padding-top: 1vh;
}

main {
  position: relative;
  width: 100%;
  margin-left: 20vw;
  top: 10vh;
  background-color: #a0b8c7;
}

.trip-view {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #a0b8c7;
}

.trip-card {
  width: 31.5%;
  height: 42vh;
  background-color: #eefaf9;
  margin: 0.5rem;
  border-bottom: 1vh solid #1d3557;
}

.image-header {
  position: relative;
  background-color: #1d3557;
  height: 20vh;
}

.image-header > img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.destination-name-text {
  position: absolute;
  bottom: 0;
  padding: 0 0.2rem;
  background-color: #1d3557;
  color: #fff;
}

.trip-info {
  height: 22vh;
  border-top: 1vh solid #1d3557;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.book-view {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.543);
}

.booking-form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 60vw;
  background-color: #a0b8c7;
  border-radius: 0.2rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.close-booking {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}

.input-pairs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-entries {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-input {
  width: 15vw;
}

.hidden {
  display: none;
}
